/* Global */

*{
    font-family: 'Raleway', 'Arial', 'sans-serif';
}

h1, h2, h3{
    color: #836000;
    font-weight: bold;
}

body{
    background-color: #f1e9d3;
}

a{
    text-decoration: none;
    color: rgb(211, 84, 62);
}

/* Home */

#home h1{
    text-align: center;
}

.button-list{
    text-align: center;
}

.button-list li{
    display: inline-block;
    background-color: #FFF;
    padding: 8px 14px;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 24px;
}

.button-list li:hover{
    text-decoration: underline;
}

/* Recipe */
.recipe{
    width: 600px;
    margin: auto;
}

.recipe h1{
    text-align: center;
    font-size: 32px;
}
.recipe img{
    display: block;
    margin: auto;
}

.recipe h2, .recipe h3{
    text-align: center;
}

